
/Starcraft/Starcraft/bin
/Starcraft/Starcraft/obj
/Starcraft/StarcraftContent/obj
/Starcraft/StarcraftContent/bin
/Starcraft.suo

/Starcraft/StarcraftContent/obj
/Starcraft/Starcraft/obj
/Server/ServerContent/bin
/Server/ServerContent/obj
/Server/Server/bin
/Server/Server/obj
/Launcher/obj
/Launcher/bin